
@{
    Layout = "~/Areas/jjs/Views/Shared/_Layout.cshtml";
}

<html>
<head>
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <meta content="email=no" name="format-detection">
    <meta http-equiv="Cache-Control" CONTENT="no-cache">
    <meta http-equiv="pragram" content="no-cache">
    <link href="@HttpContext.Current.Application["DefuleDomain"]/Areas/jjs/resources/style/index1.css" rel="stylesheet" type="text/css">
    <link href="@HttpContext.Current.Application["DefuleDomain"]/asset/css/study/collection.css" rel="stylesheet" />
    <title>机考仿真练习</title>
    <style>
        .bj01 {
            background: #40e00c;
        }

        .stlb_sz_zq {
            background: #40e00c;
        }

        .alfx-head ul li {
            width: 25%;
        }

        .alfx-head1 ul li {
            width: 33%;
            float: left;
            text-align: center;
            height: 3em;
            line-height: 3em;
        }

        .alfx-head1 {
            width: 100%;
            height: 3em;
            overflow: hidden;
            position: fixed;
            bottom: 0em;
            z-index: 999;
            background: #fff;
        }

        .alfx-head ul .al-hd04 {
            background: #56ff00;
            color: #fff;
        }

        .close {
            width: 100%;
        }
        * {
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }
    </style>
</head>
<body>
    <div class="alfx-box">
        <div id="Item">
        </div>
        <script type="text/html" id="Item_html">
            <div class="alfx-list01">
                <div class="alfx-tit">
                    <b>{{#SubjectName}}</b><span class="red">{{index}}</span>/{{lenght}}
                </div>
            </div>
            {{if Description!=""}}
            <div class="line_3px"></div>
            <div class="alfx-list02">
                {{#Description}}
                <div class="clear"></div>
            </div>
            {{/if}}
            <div class="line_3px"></div>
            <div class="alfx-list03">
                {{#QuestionContent}}
            </div>
            <div class="line_3px"></div>
            <div class="alfx-list04">
                <ul>
                    {{each option}}
                    <li>{{#$value.content}}</li>
                    {{/each}}
                </ul>
            </div>
            <div class="line_3px"></div>
            <div class="chcp-list">
                {{if StuAnswer}}
                <div class="chcp-dtcw">
                    {{if RightAnswer===StuAnswer}}
                    <span class="dtcw04">{{#Whether}}</span>
                    {{else}}
                    <span class="dtcw01">{{#Whether}}</span>
                    {{/if}}
                    <span class="dtcw02">你的答案：{{#StuAnswer}}</span>
                    <span class="dtcw03">正确答案：{{#RightAnswer}} </span>
                </div>

                {{if QuestionTextAnalysis}}
                <p>评析:{{#QuestionTextAnalysis}}
                <p>
                    {{else}}
                <p>评析:暂无评析</p>
                {{/if}}
                    {{if !IsValueAddedWebApp}}
                        <div style="border-top: 0px;" class="learnVideo">
                            <div>
                                {{if Code}}
                                <label>
                                    {{VideoName}}
                                </label>
                                <a href="/jjs/CourseInfo/Index?code={{Code}}">开始学习</a>
                                {{else}}
                                <label>
                                    暂无视频
                                </label>
                                {{/if}}
                            </div>
                        </div>
                    {{/if}} 
                {{else}}
                <div class="chcp-dtcw">
                    <span class="dtcw02">未作答</span>
                </div>
                {{/if}}
            </div>
            <div class="line_3px"></div>
        </script>
        <div class="alfx-head">
            <ul>
                <li class="al-hd01">上一题</li>
                <li class="al-hd02">试题列表</li>
                <li class="al-hd03">下一题</li>
                <li class="al-hd04" click="savePaper();">再次练习</li>
                <div class="clear"></div>
            </ul>
        </div>
    </div>
    <div class="stlb-box" style="display: none;">
        <div class='stlb-list'>
            <div class="stlb-tit">
                <b>试题列表</b>
            </div>
            <div class="stlb-bj">
                <span><b class="bj01"></b>正确<div class="clear"></div></span>
                <span><b class="bj02"></b>错误<div class="clear"></div></span>
                <div class="clear"></div>
            </div>
        </div>
        <div class="line_3px"></div>
        <div class="stlb_sz">
            <div class="stlb_sz_news" id="Option">
            </div>
            <script type="text/html" id="Option_html">
                {{each ChapterQuestionsDetailOutput}}
                {{if $value.IsWhether==0}}
                <span class="stlb_sz_ren" index="{{$index+1}}">{{$index+1}}</span>
                {{else}}
                <span class="stlb_sz_zq" index="{{$index+1}}">{{$index+1}}</span>
                {{/if}}
                {{/each}}
            </script>
        </div>
        <div class="alfx-head1">
            <ul>
                <li></li>
                <li class="close">X</li>
                <div class="clear"></div>
            </ul>
        </div>
    </div>
    <input type="hidden" id="ChapterQuestionsId" value="@ViewBag.ChapterQuestionsId" />
</body>
</html>
<script src="@HttpContext.Current.Application["DefuleDomain"]/Areas/jjs/resources/js/ctj.js?v=1.0"></script>
<script src="@HttpContext.Current.Application["DefuleDomain"]/Areas/jjs/Views/Practice/ItemList.js?v=1.0"></script>
