
@{
    ViewBag.Title = "ForgetPassword";
    Layout = null;
}

<link href="@HttpContext.Current.Application["DefuleDomain"]/Libs/bootstrap/css/bootstrap.css" rel="stylesheet" />
<link href="@HttpContext.Current.Application["DefuleDomain"]/Views/Login/RegistStyle.css" rel="stylesheet" />
<link href="@HttpContext.Current.Application["DefuleDomain"]/Libs/bootstrap/css/bootstrapValidator.min.css" rel="stylesheet" />
<form id="submitForget" name="submitForget" class="form-horizontal">
    <div class="container" style="width:100%;">
        <div class="col-md-10 col-md-offset-1">
            <div class="form-group has-feedback">
                <label for="phoneNum">手机号码</label>
                <div class="input-group">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-phone"></span></span>
                    <input id="phoneNum" name="phoneNum" style="text-align: left;"  class="form-control" placeholder="请输入手机号码" maxlength="11" type="text">
                </div>
            </div>
            <div class="row">
                <div class="col-xs-7">
                    <div class="form-group has-feedback">
                        <label for="idcode">校验码</label>
                        <div class="input-group">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-qrcode"></span></span>
                            <input id="idcode" style="text-align: left;"  name="idcode" class="form-control" placeholder="请输入校验码" maxlength="6" type="text">
                        </div>
                    </div>
                </div>
                <div class="col-xs-5 text-center" style="padding-top: 26px">
                    <button type="button" id="loadingButton" class="btn btn-danger" autocomplete="off">获取短信校验码</button>
                </div>
            </div>


            <div class="form-group has-feedback">
                <label for="password">密码</label>
                <div class="input-group">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                    <input id="password" style="text-align: left;"  name="password" class="form-control" placeholder="请输入密码" maxlength="20" type="password">
                </div>
                <span class="tips" id="pwdmessage" style="font-size: 12px;line-height: 30px;color: #6C6C6C;">密码长度必须在8到16之间且包含数字和字母</span>
                <span style="display: none;" class="glyphicon glyphicon-remove form-control-feedback"></span>
                <span style="display: none;" class="glyphicon glyphicon-ok form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                <label for="passwordConfirm">确认密码</label>
                <div class="input-group">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                    <input id="passwordConfirm" style="text-align: left;"  name="passwordConfirm" class="form-control" placeholder="请再次输入密码" maxlength="20" type="password">
                </div>
            </div>

            <div class="form-group">
                <button class="form-control btn btn-danger" id="submit"  type="submit">重&nbsp;&nbsp;置&nbsp;&nbsp;密&nbsp;&nbsp;码</button>
            </div>
            <input type="hidden" Id="userIp" name="userIp" value="@ViewBag.userIp" />
        </div>
    </div>
</form>
<script src="http://code.jquery.com/jquery-2.2.3.min.js?v=1.0"></script>
<script src="@HttpContext.Current.Application["DefuleDomain"]/Libs/bootstrap/js/bootstrap.min.js?v=1.0"></script>
<script src="@HttpContext.Current.Application["DefuleDomain"]/Libs/bootstrap/js/bootstrapValidator.js?v=1.0"></script>
<script src="@HttpContext.Current.Application["DefuleDomain"]/Libs/layer/js/layer.js?v=1.0"></script>
<script src="@HttpContext.Current.Application["DefuleDomain"]/Js/base.js?v=1.0"></script>
<script src="@HttpContext.Current.Application["DefuleDomain"]/Js/md5.js?v=1.0"></script>
<script src="@HttpContext.Current.Application["DefuleDomain"]/Js/jquery.cookie.js?v=1.0"></script>
<script src="@HttpContext.Current.Application["DefuleDomain"]/Views/Login/ForgetPassword.js?v=1.0"></script>
