
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <meta content="email=no" name="format-detection">
    <meta http-equiv="Cache-Control" CONTENT="no-cache">
    <meta http-equiv="pragram" content="no-cache">
    <link href="@HttpContext.Current.Application["DefuleDomain"]/Areas/jjs/resources/style/index1.css" rel="stylesheet" type="text/css">
    <title>@HttpContext.Current.Application["TitleName"]</title>
</head>
<body>
    <input type="hidden" value="@ViewBag.Code" id="securityCode" />
    <div class="smts-box">
    </div>
    <script type="text/html" id="security_html">
        {{if Success}}
        <div class="smtx_img">
            <img src="@HttpContext.Current.Application["DefuleDomain"]/asset/images/zhengban.png" alt="">
            <p>{{Message}} </p>
            <p style="color: red;">恭喜您，您购买的是正版图书</p>
        </div>
        <div class="smts-font">
            <p>
                识别图中二维码，关注<span>“{{TitleName}}”</span><br>
                点击“课程中心”,在“首页”点击“图书扫码”领取增值服务！
            </p>
        </div>
        {{else}}
        <div class="smtx_img">
            <img src="@HttpContext.Current.Application["DefuleDomain"]/asset/images/daoban.png" alt="">
            <p style="color: red;">该书为盗版图书</p>
        </div>
        <div class="smts-font">
            <p>
                识别图中二维码，关注<span>“{{TitleName}}”</span><br>
            </p>
        </div>
        {{/if}}
        <div class="smts-ewm">
            <img src="@HttpContext.Current.Application["DefuleDomain"]/asset/image/public/{{tp}}.jpg">
            <p>长按识别图中二维码</p>
        </div>
    </script>
</body>
</html>
<script src="http://code.jquery.com/jquery-2.2.3.min.js?v=1.0"></script>
<script src="@HttpContext.Current.Application["DefuleDomain"]/Js/template.js?v=1.0"></script>
<script src="@HttpContext.Current.Application["DefuleDomain"]/Js/jquery.cookie.js?v=1.0"></script>
<script src="@HttpContext.Current.Application["DefuleDomain"]/Libs/layer/js/layer.js?v=1.0"></script>
<script src="@HttpContext.Current.Application["DefuleDomain"]/Js/base.js?v=1.0"></script>
<script src="@HttpContext.Current.Application["DefuleDomain"]/Areas/jjs/Views/wx/Index.js?v=1.0"></script>
