
@{
    ViewBag.Title = "我的购物车";
    Layout = null;
}

<link href="@HttpContext.Current.Application["DefuleDomain"]/Libs/CourseInfo/css/course_talk.css" rel="stylesheet" />
<link href="@HttpContext.Current.Application["DefuleDomain"]/Libs/CourseInfo/css/core.css" rel="stylesheet" />
<link href="@HttpContext.Current.Application["DefuleDomain"]/Libs/CourseInfo/css/course_list.css" rel="stylesheet" />
<link href="@HttpContext.Current.Application["DefuleDomain"]/Libs/CourseInfo/css/course_note.css" rel="stylesheet" />
<link href="@HttpContext.Current.Application["DefuleDomain"]/Libs/CourseInfo/css/course_noteIndex.css" rel="stylesheet" />
<link href="@HttpContext.Current.Application["DefuleDomain"]/Libs/CourseInfo/css/course_reply.css" rel="stylesheet" />
<link href="@HttpContext.Current.Application["DefuleDomain"]/Views/Shared/_Layout2Style.css" rel="stylesheet" />
<script src="http://code.jquery.com/jquery-2.2.3.min.js?v=1.0"></script>
<script src="@HttpContext.Current.Application["DefuleDomain"]/Libs/CourseInfo/js/ajax.js?v=1.0"></script>
<script src="@HttpContext.Current.Application["DefuleDomain"]/Libs/CourseInfo/js/vue.min.js?v=1.0"></script>
<script src="@HttpContext.Current.Application["DefuleDomain"]/Libs/CourseInfo/js/reuglar.0.3.1.js?v=1.0"></script>
<script src="@HttpContext.Current.Application["DefuleDomain"]/Js/jquery.cookie.js?v=1.0"></script>
<script src="@HttpContext.Current.Application["DefuleDomain"]/Js/template.js?v=1.0"></script>
<script src="@HttpContext.Current.Application["DefuleDomain"]/Libs/layer/js/layer.js?v=1.0"></script>
<script src="@HttpContext.Current.Application["DefuleDomain"]/Js/base.js?v=1.0"></script>
<link href="@HttpContext.Current.Application["DefuleDomain"]/Views/Cart/css/public.css" rel="stylesheet" />
<link href="@HttpContext.Current.Application["DefuleDomain"]/Views/Cart/css/base.css" rel="stylesheet" />
<link href="@HttpContext.Current.Application["DefuleDomain"]/Views/Cart/css/checkOut.css" rel="stylesheet" />
<link href="@HttpContext.Current.Application["DefuleDomain"]/Libs/zui/css/zui.lite.css" rel="stylesheet" />
<link rel="stylesheet" href="@HttpContext.Current.Application["DefuleDomain"]/asset/css/cart.css">
<style>
    body {
        background: #f3f3f3;
        overflow: hidden;
    }

    .adddiv {
        width: 150px;
        height: 35px;
    }

    .inp {
        width: 45px;
        height: 25px;
        text-align: center;
        float:left;
        border: 1px solid #dcdcdc;
        margin-left:-1px;
    }

    .btt {
        width: 30px;
        height: 25px;
        background: #f2f2ff;
        border: 1px solid #dcdcdc;
        color: #333;
        font-size: 17px;
        float:left;
        margin-left:-1px;
    }
    #datas td>img{float:left}
   #datas td>a{display:block; margin-left:50px;}
</style>
<div class="border_top_cart g-flow">
    <input type="hidden" value="@ViewBag.userIp" id="userIp" />
    <div class="container">
        @*<div class="checkout-box">
        <!-- 发票信息 -->
        <div id="checkoutInvoice">
            <div class="xm-box">
                <div class="box-hd">
                    <span style="font-size: 15px; margin-left: 10px; color: green; line-height: 2;">我的购物车</span>
                </div>
                <div class="box-bd">
                    <span id="eInvoiceTip" style="font-size: 12px; margin-left: 10px; color: gray;"></span>
                </div>
            </div>
        </div>

    </div>*@
        <!-- 发票信息 END-->
        <div class="topTit">
            <label>我的购物车</label><span class="layui-text" id="eInvoiceTip"></span>
        </div>
        <div class="checkout-box-ft" id="fHtml" style="display: none;">
            <!-- 商品清单 -->
            <div id="checkoutGoodsList" class="checkout-goods-box">
                <div class="xm-box">
                    <div class="box-bd">
                        <table style="width: 100%;">
                            <thead class="checkout-goods-list">
                                <tr>
                                    <td class="td1">
                                        <input type="checkbox" class='regular-checkbox' name="checkall" id="checkall" onclick="checkAll(this)" /><label style="margin-top: 4px;" for="checkall"> </label>
                                    </td>
                                    <td class="td2">
                                        商品名称
                                    </td>
                                    <td class="td3">
                                        购买价格
                                    </td>
                                    <td class="td4">
                                        购买数量
                                    </td>
                                    <td class="td5">
                                        小计（元）
                                    </td>
                                    <td class="td6"></td>
                                </tr>
                            </thead>
                            <tbody id="datas" ></tbody>
                        </table>
                        <div class="checkout-count clearfix">
                            <div class="checkout-count-extend xm-add-buy">
                            </div>
                            <!-- checkout-count-extend -->
                            <div class="checkout-price">
                                @*<ul>
                                    <li>
                                        订单总额：<span id="sumPrice">0元</span>
                                    </li>
                                    <li>
                                        活动优惠：<span id="preferential">0元</span>
                                    </li>
                                    <li>
                                        优惠券抵扣：<span id="discount">0元</span>
                                    </li>
                                    <li id="discountCardArea">

                                    </li>
                                </ul>*@
                                <p class="checkout-total">应付总额：<span><strong id="totalPrice">0</strong>元</span></p>
                            </div>
                            <!-- -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- 商品清单 END -->
            <input type="hidden" id="couponType" name="Checkout[couponsType]" />
            <input type="hidden" id="couponValue" name="Checkout[couponsValue]" />
            <div class="checkout-confirm">
                <input  type="button" disabled="disabled" class="btn btn-primary" value="提交订单" id="checkoutToPay" />
            </div>
        </div>
    </div>
</div>
<script src="@HttpContext.Current.Application["DefuleDomain"]/Js/base.js?v=1.0"></script>
<script src="@HttpContext.Current.Application["DefuleDomain"]/Views/Cart/Indexbak.js?v=1.0"></script>
