<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>后台系统</title>
    <link href="@Url.Content("~/Libs/bootstrap/css/bootstrap.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Css/ladda-themeless.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Css/prism.css")" rel="stylesheet" />

    <link href="@Url.Content("~/Content/font-awesome.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/ionicons.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Libs/admintle/css/AdminLTE.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/style.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Libs/admintle/css/skins/_all-skins.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Libs/jqGrid.H/css/jqgrid/ui.jqgrid.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Libs/bootstrapvalidator/css/bootstrapValidator.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Libs/webuploader-0.1.5/webuploader.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Css/UploadFile.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Libs/plugins/datepicker/datepicker3.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Libs/My97DatePicker/开发包/skin/WdatePicker.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Libs/zTree_v3/zTreeStyle.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Css/ZFmenu.css")" rel="stylesheet" />
    

    <style>
        .form-control {
            height: 30px;
            padding: 3px 9px;
            line-height: 30px;
        }

        .table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
            padding: 5px;
        }

        .btn {
            padding: 3px 16px;
            line-height: 19px;
        }

        #selectFrom .form-group {
            padding: 5px;
        }
    </style>
    @RenderSection("style", false)

    <script>
        var virtualDirName = ''
    </script>
</head>
<body class="skin-blue sidebar-mini">
    <div class="wrapper">
        <header class="main-header">
            <!-- Logo -->
            <a href="javascript:void(0)" class="logo">
                <span class="logo-mini"><b>A</b>LT</span>
                <span class="logo-lg">后台系统</span>
            </a>
            <nav class="navbar navbar-static-top" role="navigation">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>
                <!-- Navbar Right Menu -->
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <li class="dropdown tasks-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa qh">
                                </i>
                            </a>
                            <ul class="dropdown-menu" style="width: 120px; min-width: 120px;">
                                <li>
                                    <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto;">
                                        <ul class="menu" style="overflow: hidden; width: 100%; ">
                                            <li>
                                                <!-- start message -->
                                                <a href="#" id="Modify">
                                                    修改密码
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </li>

                        <!-- Tasks Menu -->
                        <li class="dropdown taskClass1.css-menu">
                            <!-- Menu Toggle Button -->
                            <a href="#" class="dropdown-toggle logout-sys" data-toggle="dropdown">
                                <i class="fa tc">

                                </i>
                            </a>
                        </li>
                        <!-- User Account Menu -->
                        <li class="dropdown user user-menu">
                            <!-- Menu Toggle Button -->
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <span class="hidden-xs">@ViewBag.UserName</span>
                            </a>
                        </li>
                        <!-- Control Sidebar Toggle Button -->
                    </ul>
                </div>
            </nav>
        </header>

        <aside class="main-sidebar">
            @Html.Action("HeadMenu", "Layout")
        </aside>
        <div class="content-wrapper" style="overflow-y:scroll;">
            @RenderBody()
        </div>

        <!--主要内容-->
        <footer>
            <span>技术支持：</span>
        </footer>
    </div>
    <script src="@Url.Content("~/Libs/plugins/jQuery/jquery-2.2.3.min.js")"></script>
    <script src="@Url.Content("~/Libs/plugins/jQuery/jquery-migrate-1.2.1.js")"></script>
    <script src="@Url.Content("~/Libs/bootstrap/js/bootstrap.min.js")"></script>
    <script src="@Url.Content("~/Libs/bootstrap/js/spin.min.js")"></script>
    <script src="@Url.Content("~/Libs/bootstrap/js/ladda.min.js")"></script>
    <script src="@Url.Content("~/Libs/plugins/slimScroll/jquery.slimscroll.min.js")"></script>
    <script src="@Url.Content("~/Libs/admintle/js/app.js")"></script>
    <script src="@Url.Content("~/Js/easyuiBase.js")"></script>
    <script src="@Url.Content("~/Js/layout.js")"></script>
    <script src="@Url.Content("~/Js/base.js")"></script>
    <script src="@Url.Content("~/Libs/layer/js/layer.js")"></script>
    <script src="@Url.Content("~/Libs/jqGrid.H/js/jqgrid/i18n/grid.locale-cn.js")"></script>
    <script src="@Url.Content("~/Libs/jqGrid.H/js/jqgrid/jquery.jqGrid.min.js")"></script>
    <script src="@Url.Content("~/Libs/bootstrapvalidator/js/bootstrapValidator.min.js")"></script>
    <script src="@Url.Content("~/Libs/bootstrapvalidator/js/language/zh_CN.js")"></script>
    <script src="@Url.Content("~/Libs/My97DatePicker/WdatePicker.js")"></script>
    <script src="@Url.Content("~/Js/extend.plug.js")"></script>
    <script src="@Url.Content("~/Libs/zTree_v3/jquery.ztree.all.js")"></script>
    <script src="@Url.Content("~/Libs/zTree_v3/jquery.ztree.excheck.js")"></script>
    <script src="@Url.Content("~/Libs/zTree_v3/jquery.ztree.all.js")"></script>
    <script src="@Url.Content("~/Js/ZFContextmenu.js")"></script>
    <script src="@Url.Content("~/Libs/plugins/datepicker/bootstrap-datepicker.js")"></script>
    <script src="@Url.Content("~/Js/echarts.min.js")"></script>
    <script src="@Url.Content("~/Js/vue.min.js")"></script>
    <script src="@Url.Content("~/Js/vue.Router.js")"></script>
    @RenderSection("script", false)
</body>
</html>